@font-face {
    font-family: 'RobotoRegular';
    src: url('./Roboto-Regular.ttf') format('truetype');
    font-weight: normal;    
    font-style: normal;
}

@font-face {
    font-family: 'RobotoItalic';
    src: url('./Roboto-Italic.ttf') format('truetype');
    font-weight: normal;    
    font-style: normal;
}

@font-face {
    font-family: 'RobotoThin';
    src: url('./Roboto-Thin.ttf') format('truetype');
    font-weight: normal;    
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('./Roboto-Medium.ttf') format('truetype');
    font-weight: normal;    
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('./Roboto-Bold.ttf') format('truetype');
    font-weight: normal;    
    font-style: normal;
}

html {
    font-family: 'RobotoRegular';
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 300px 3fr;
    grid-auto-flow: row;
}

header {
    height: 60px;
    background-color: rgb(223, 74, 54);
    display: flex;
    align-items: center;
    padding-left: 25px;
    color: white;
    font-size: 24px;
    grid-column: 1 / 3;
    font-family: 'RobotoMedium';
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.sidebar {
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    height: calc(100vh - 60px);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.projectList {
    padding-left: 30px;
    margin-top: 10px;
}

.projectList li {
    padding-left: 5px;
    box-sizing: border-box;
    height: 30px;
    font-size: 16px;
    color: rgb(223, 74, 54);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sideList li {
    height: 40px;
    font-size: 18px;
    color:rgb(56, 56, 56);
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

li.clickable:hover,
li.clickable:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}

.sideList li {
    font-family: 'RobotoRegular';
}

.content {
    padding: 20px;
}

button#new-todo {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    background-color: rgb(223, 74, 54);
    color: white;
    font-family: 'RobotoMedium';
    font-size: 42px;
}

button#new-todo:hover {
    cursor: pointer;
    background-color: rgb(206, 64, 46);
}

.todo {
    padding: 10px;
    border-bottom: 1px solid rgb(206, 206, 206);
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr 200px;
    column-gap: 15px;
    row-gap: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.todo:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.todo input {
    grid-column: 1/2;
    grid-row: 1/3;
}

.todo input {
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid rgb(126, 126, 126);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.todo input:hover {
    background-color: rgb(230, 230, 230);
}

.todo input:checked {
    background-color: rgb(41, 165, 248);
}

.task {
    font-family: 'RobotoMedium';
    font-size: 18px;
}

.todo.done {
    background-color: rgb(243, 243, 243);
}

.todo.done .task {
    text-decoration: line-through;
    font-family: 'RobotoRegular';
    color:rgb(56, 56, 56);
}

.todo .buttons {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color:rgb(148, 148, 148);
}

.material-symbols-outlined {
    font-size: 22px;
}

.buttons .material-symbols-outlined:hover {
    cursor: pointer;
    color:rgb(56, 56, 56);
}

.material-symbols-outlined.delete:hover {
    cursor: pointer;
    color:rgb(204, 38, 38);
}

.date {
    font-family: 'RobotoRegular';
    color:rgb(85, 85, 85);
}

.task,
.date {
    grid-column: 2/3;
}

.project {
    grid-column: 3/4;
    text-align: end;
    font-family: 'RobotoItalic';
    font-size: 16px;
    color:rgb(104, 93, 255)
}

.details-popup,
.create-popup,
.edit-popup {
    visibility: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;
    justify-content: center;
}

.details-popup.show,
.create-popup.show,
.edit-popup.show {
    visibility: visible;
}

.create-popup .panel,
.edit-popup .panel {
    margin-top: 20vh;
    background-color: white;
    border-radius: 10px;
    height: 360px;
    width: 400px;

    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.details-popup .panel {
    margin-top: 20vh;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    width: 500px;

    padding: 20px 50px 20px 20px;
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.details-task {
    font-family: 'RobotoBold';
    font-size: 28px;
    text-align: start;
    margin-bottom: 10px;
}

.details-text {
    font-size: 18px;
    color:rgb(85, 85, 85);
}

.details-project {
    font-family: 'RobotoItalic';
    color:rgb(104, 93, 255);
    margin-bottom: 5px;
}

.details-date {
    color:rgb(56, 56, 56);
}

.details-popup .panel .close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 26px;
}

.create-form,
.edit-form {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.create-form button,
.edit-form button {
    height: 35px;
    border: none;
    background-color: rgb(223, 74, 54);
    color: white;
    font-family: 'RobotoMedium';
    font-size: 16px;
    border-radius: 5px;
    
}

.create-form button:hover,
.edit-form button:hover {
    cursor: pointer;
    background-color: rgb(206, 63, 44);
}

.create-form .top,
.edit-form .top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-task,
.edit-task {
    font-size: 16px;
    min-height: 30px;
    flex: 1;
}

.form-details,
.edit-details {
    font-size: 14px;
    resize: none;
}

.form-selections,
.edit-selections {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-project,
.form-date,
.edit-project,
.edit-date {
    flex: 1;
    min-height: 30px;
}

.panel .header {
    flex: 1;
    background-color: rgb(223, 74, 54);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 35px;
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.header .title {
    font-family: 'RobotoBold';
    font-size: 16px
}

.create-popup .header .close,
.edit-popup .header .close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 26px;
}

.create-popup .header .close:hover,
.edit-popup .header .close:hover {
    cursor: pointer;
}

.details-popup .panel .close:hover {
    cursor: pointer;
    color: black;
}

.project-li {
    position: relative;
}

.project-li .project-add {
    visibility: hidden;
    position: absolute;
    background-color: rgb(223, 74, 54);
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'RobotoMedium';
}

.project-li:hover .project-add {
    visibility: visible;
}

.project-add:hover {
    cursor: pointer;
    background-color: rgb(206, 63, 44);
}

.project-name {
    font-size: 16px;
    color: rgb(223, 74, 54);
    border: 1px solid rgb(223, 74, 54);
    border-radius: 5px;
    background-color: transparent;
}

.project-name:focus {
    border: 2px solid rgb(223, 74, 54);
    outline: none;
}

form.form-project {
    visibility: hidden;
    padding-left: 30px;
}

form.form-project.show {
    visibility: visible;
}